body {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: rgb(43, 43, 43);
    color: rgb(243, 237, 237);
}

.quadrant1 {
    display: flex;
    flex: 1;
    background-color: rgb(37, 37, 62);
}


.header {
    display: flex;
    height: 80px;
    background-color: rgb(37, 37, 62);    
}

.headerLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding: 16px;
   
}


.logo {
    display: flex;
    flex: 1;
    border: 2px solid red;  
}

ul {
    display: flex;    
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
}

li {
    font-size: 20px;
    font-weight: 100;
}

a {
    color: white;
    text-decoration: none;
    
}

.title {
    display: flex;
    flex-direction: column;
}

.title h1 {
    font-size: 50px;
}

.boxContainer{
    display: flex;
    flex: 1; 
    justify-content: flex-end;
    align-items: center;         
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: rgb(0, 0, 0);
    color: rgb(28, 204, 28);
    border: 2px solid red;
    width: 427px;
    height: 150px;
}

.quadrant2 {
    display: flex;
    flex: 1;    
    background-color: rgba(24, 70, 46, 0.654);
}

.infoheader {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: rgba(24, 70, 46, 0.654);
}

.info {
    display: flex;    
    flex: 1;
    gap: 16px;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
    height: 150px;   
}

figure {
    display: flex;
    flex-direction: column;
}

figcaption {
    display: flex;      
    flex-shrink: 0;    
    font-size: 20px;
    width: 280px;
    padding-left: 80px;
}


.quadrant3 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(135, 45, 9, 0.529);
    font-size: 36px;
    border: 2px solid red;
}

blockquote {
    display: flex;
    padding: 16px;
    flex:0 0 100px
}

blockquote p {
    padding: 15px;
    background: rgb(79, 75, 75);
    border-radius: 5px;
}

.quadrant5 {
    display: flex;    
    align-items: center;
    gap: 24px;
}

.footer {
    display: flex;
    flex: 1;   
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    font-size: 22px;
    margin-bottom: 16px;
}

.w3validcss {
    display: flex;
    flex: 1;
    height: 50px;
    margin-bottom: 8px;
    justify-content: flex-start;
    align-items: center;
}