body {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: rgb(43, 43, 43);
    color: rgb(243, 237, 237);
}

.quadrant1 {
    background-color: rgb(37, 37, 62);
}


.header {
    display: flex;
    height: 80px;
}

.headerLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding: 16px;
}


.logo {
    display: flex;
    flex: 1;   
}

ul {
    display: flex;    
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
}

li {
    font-size: 20px;
    font-weight: 100;
}

a {
    color: white;
    text-decoration: none;
}

.title {
    display: flex;
    flex-wrap: wrap;
    
}

.title h1 {
    font-size: 50px;
}

.boxContainer{
    display: flex;
    flex: 1; 
    justify-content: center;
    align-items: center;
    
    
    
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: rgb(0, 0, 0);
    color: rgb(28, 204, 28);
    border: 2px solid red;
    width: 300px;
    height: 150px;
}


.footer {
    display: flex;    
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    font-size: 22px;
    margin-bottom: 16px;
}
