html,
body{
  margin: 0px;
  background-color: #1F2937;
}
/* Header Section */
header{
  display: flex;
  align-items: center;
  justify-content:space-around;
}

nav{
  display: flex;
  gap: 25px;
}

/* Main Content Top */
section.sectionTop{
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
}
.sec-top-left{
  width: 350px;
}
.sec-top-right{
  display: flex;
  width: 500px;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: gray;
}